<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
<div id="app">
  <h1>Famous Cougs</h1>
  <h2>Quarterbacks</h2>
  <ul>
    <li v-for="quarterback in quarterbackList">
      {{quarterback.name}} - NFL team: {{quarterback.nflTeam}} - <input type="checkbox" v-model="quarterback.favorite" />
    </li>
  </ul>
  <h2>Running Backs</h2>
  <ul>
    <li v-for="runningBack in runningBackList">
      {{runningBack.name}} - NFL team: {{runningBack.nflTeam}} - <input type="checkbox" v-model="runningBack.favorite" />
    </li>
  </ul>
  <div>
    <label for="newPlayer.name">New Player Name</label>
    <input type="text" v-model="newPlayer.name" />
    <label for="newPlayer.nflTeam">New Player NFL Team</label>
    <input type="text" v-model="newPlayer.nflTeam" />
    <label for="newPlayer.favorite">Favorite</label>
    <input type="checkbox" value="true" v-model="newPlayer.favorite" />
    <label for="newPlayer.position">Position</label>
    <input type="radio" value="quarterback" v-model="newPlayer.position" /> Quarterback
    <input type="radio" value="runningBack" v-model="newPlayer.position" /> Running Back
    <button @click="addNewPlayer">Add New Player</button>
  </div>
  <button @click="resetFavorites()">Reset Favorites</button>
  <pre>{{newPlayer.name}}</pre>
  <h1>Dean's Favorite Famous Cougs</h1>
  <h2>Quarterbacks</h2>
  <ul>
    <li v-for="quarterback in favoriteQuarterbackList">
      {{quarterback.name}} - NFL team: {{quarterback.nflTeam}}
    </li>
  </ul>
  <h2>Running Backs</h2>
  <ul>
    <li v-for="runningBack in favoriteRunningBackList">
      {{runningBack.name}} - NFL team: {{runningBack.nflTeam}}
    </li>
  </ul>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const { createApp } = Vue;

  const app = createApp({
    data: () => ({
      newPlayer: {},
      quarterbackList: [
        {
          name: 'Drew Bledsoe',
          nflTeam: 'New England',
          favorite: true
        },
        {
          name: 'Timm Rosenbach',
          nflTeam: 'Arizona',
          favorite: false
        },
        {
          name: 'Jack Thompson',
          nflTeam: 'Cincinnati',
          favorite: true
        }
      ],
      runningBackList: [
        {
          name: 'Michael Black',
          nflTeam: 'None',
          favorite: false
        },
        {
          name: 'Kerry Porter',
          nflTeam: 'Los Angeles Raiders',
          favorite: true
        },
        {
          name: 'Reuben Mayes',
          nflTeam: 'New Orleans',
          favorite: true
        }
      ]
    }),
    computed: {
      favoriteQuarterbackList() {
        return this.quarterbackList.filter(function(quarterback) { return quarterback.favorite });
      },
      favoriteRunningBackList() {
        return this.runningBackList.filter(function(runningBack) { return runningBack.favorite });
      }
    },
    methods: {
      addNewPlayer() {
        if ( this.newPlayer.position === 'quarterback' ) {
          this.quarterbackList.push(this.newPlayer);
        }
        else {
          this.runningBackList.push(this.newPlayer);
        }
        this.newPlayer = {};
      },
      resetFavorites() {
        this.quarterbackList.forEach(this.resetFavorite);
        this.runningBackList.forEach(this.resetFavorite);
      },
      resetFavorite(player) {
        player.favorite = false;
      }
    }
  });
  app.mount('#app');
</script>
</body>
</html>
